# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js
.vscode
logs
.serverless
.build
package-lock.json

# Packages
packages/*/node_modules
packages/*/logs
packages/*/.serverless
packages/*/.build
packages/*/.turbo
packages/*/.env
packages/*/.env.*

# Local env files
.env
.env.*
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
